* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --test-border: 5px solid black;
    --footer-height: 50px;
    --brown: rgb(119, 55, 3);
}

body {
    padding-bottom: calc(var(--footer-height) + 20px);
    background-image: url("https://images.unsplash.com/photo-1501166222995-ff31c7e93cef?q=80&w=2534&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Major Birch', sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Maulysia', sans-serif;
    font-size: 1.3rem;
    position: sticky;

    & h1 {
        text-shadow: -5px 5px 10px white;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 2px 10px;
        border-radius: 15px;
    }
}
                                                
main {
    width: 95%;
    padding: 20px;
    background-image: url("./images/wood-bg.jpg");
    background-size: cover;
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px 20px;

    & label {
        justify-self: end;
    }

    & input {
        align-self: center;
    }

    & input[type="checkbox"] {
        justify-self: start;
    }
}

.controls-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    border-radius: 20px;
    width: 79%;
    margin: auto;
    gap: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.controls {
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.book-container {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(200px, 30%, 280px));
    grid-template-rows: 380px;
    grid-auto-rows: 380px;
    gap: 30px max(10px, 5%);
    justify-content: center;
    border-radius: 50px;
}

.control-button {
    padding: 5px;
    width: 50px;
    cursor: pointer;
    transition: all 100ms;
}

.control-button:hover {
    scale: 1.1;
}

.book-card {
    border-radius: 10px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 15px black;
    transition: all 100ms;
}

.book-card:hover {
    scale: 1.03;
    box-shadow: 10px 10px 15px black;;
}

.book-card-item {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1.1rem;
    font-weight: 600;
}

.toggle-button {
    cursor: pointer;
    transition: all 100ms;
    margin-bottom: auto;
}

.toggle-button:hover {
    background-color: white;
    scale: 1.03;
}

.delete-button {
    cursor: pointer;
    align-self: flex-end;
    padding: 5px;
    width: 40px;
    transition: all 100ms;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.delete-button:hover {
    scale: 1.2;
}

.not-read {
    border: 7px solid grey;
}

.read {
    border: 7px solid rgb(65, 209, 46);
}

footer {
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    text-align: center;
    color: white;
    font-size: 1.3rem;
    text-shadow: -5px 5px 5px white;
}

.footer-text a {
    text-decoration: none;
    color: white;
    text-shadow: -5px 5px 5px magenta;
}

.footer-text a:hover {
    text-shadow: -5px 5px 5px darkturquoise;
    color: whitesmoke;
}

.footer-text a:active {
    color: crimson;
}

/* modal */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.hide {
    display: none;
}

.modal-content {
    background-color: var(--brown);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 40px 20px 40px;
    font-size: 1.2rem;
    text-align: center;
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-link {
    text-decoration: none;
    color: blue
}

.modal-link:hover {
    color: white;
}