* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --test-border: 5px solid black;
    --footer-height: 100px;
}

body {
    padding-bottom: var(--footer-height);
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 55, 3);
}

main {
    padding: 20px;
    border: var(--test-border);
}

.book-container {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: var(--test-border);
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(180px, 20%, 220px));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 10px max(10px, 5%);
    justify-content: center;
}

.controls-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.new-book-button {
    padding: 5px;
    font: inherit;
}

.book-card {
    border-radius: 5px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
}

.book-card-item {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.9);
}

.toggle-button {
    cursor: pointer;
}

.toggle-button:hover {
    background-color: white;
}

.delete-button {
    cursor: pointer;
    align-self: flex-end;
    width: 30px;
}

.not-read {
    border: 5px solid grey;
}

.read {
    border: 5px solid lightskyblue;
}

footer {
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    font-size: 1.3rem;
}

.footer-element {
    cursor: pointer;
}

/* modal */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-hide {
    display: none;
}

.modal-content {
    background-color: brown;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 20px 40px;
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

.info h2 {
    text-decoration: underline;
}

.modal-link {
    text-decoration: none;
    color: blue
}

.modal-link:hover {
    color: white;
}